doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(href='/main.css' rel='stylesheet')
    title Page Not Found
  body
    main
      div(class='container')
        h1(class='four-o-four') 404
        h2 This page doesn't seem to exist...