doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(href='/main.css' rel='stylesheet')
    script(src='/index.js' type='text/javascript')
    title Your New URL
  body
    main
      div(class='container')
        label(for='URL input') Lurl
        div(id='field' class='control')
          input(id='input' type='text' placeholder='Gimme a URL...')
          button(id='submit' onmouseup='processURL()') Send
        p That doesn't seem like a valid url...